
	
<form action="{:url('index/do_edit_teacher_admin')}" method="post" enctype="multipart/form-data">
	
<td>姓名 <input type="text" name="name" value="{$info.name}"></td><br><br>


<td>专业 <input type="text" name="major" value="{$info.major}"></td><br><br>

<td>电话 <input type="text" name="tel" value="{$info.tel}"><br><br></td>
<!-- <td>密码<input type="text" name="password" value="{$info.password}"><br><br></td> -->


<input type="hidden" value="{$info['id']}" name="id">



<br><br>

<br/> <br/> 
<input type="hidden" name="id"  value="{$info.id}">
<input type="submit" value="确定修改">

</body>
</form>
</html>
