<li role="presentation">
    <a href="{:url('index/show_user')}?id={$data.id}">选题信息</a></li>
<li role="presentation"><a href="{:url('index/edit_user')}?id={$data.id}">修改信息</a></li>
<li role="presentation"><a href="{:url('index/uploadpaper')}?id={$data.id}">论文管理</a></li>
<li role="presentation" class="active"><a href="{:url('index/updatapw_u')}?id={$data.id}">修改密码</a></li>
<li role="presentation"><a href="{:url('index/select_t')}?id={$data.id}">选择导师</a></li>
<li role="presentation"><a href="{:url('index/logout')}">注销登录</a></li>
</ul>

<form action="{:url('index/do_updatapw_u')}" method="post" enctype="multipart/form-data" class="form-style">
    密码<input type="text" name="password" value="{$info.password}"><br><br>
    <input type="hidden" value="{$info['id']}" name="id">
    </td>

    <input type="hidden" name="id" value="{$info.id}">
    <input type="submit" value="确定修改">
</form>