<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/static/css/main.css"> -->
    <title>用户信息表</title>

</head>
<style type="text/css">
    /*.nav-pills{
        width: 900px;
        height: 300px;
    }*/
</style>

<body>
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    </a>

    <!-- 
        <div class="content">
          <h1 class="title">欢迎使用桂林电子科技大学北海校区毕业设计管理系统</h1>
          <div class="add">
            <ul class="nav nav-pills">
  <li role="presentation" ><a href="{:url('index/show_user')}?id={$data.id}">选题信息</a></li>
  <li role="presentation"><a href="{:url('index/edit_user')}?id={$data.id}">修改信息</a></li>
  <li role="presentation"><a href="{:url('index/uploadpaper')}?id={$data.id}">论文管理</a></li>
  <li role="presentation"><a href="{:url('index/updatapw_u')}?id={$data.id}">修改密码</a></li>
  <li role="presentation"  class="active"><a href="{:url('index/select_t')}?id={$data.id}">选择导师</a></li>
  <li role="presentation"><a href="{:url('index/logout')}">注销登录</a></li>
</ul>


<br> -->



    </tr>

    <form action="{:url('index/do_select_t')}" method="post" enctype="multipart/form-data" class="form-style">




        <select name="teacher_id">
      <option value="">请选择导师</option>
      {volist name="info1" id="vo"}
      <option value="{$vo.id}">{$vo.name} (专业方向：{$vo.major})</option>
      {/volist}
    </select>






        <input type="hidden" name="id" value="{$info.id}">
        <input type="submit" value="确定修改">


    </form>
    <form action="{:url('index/do_select_theme')}" method="post" enctype="multipart/form-data" class="form-style">




        <select name="theme_id">
      <option value="">请选择选题</option>
      {volist name="theme_id" id="vo"}
      <option value="{$vo.theme_id}">{$vo.theme_name} </option>
      {/volist}
    </select>






        <input type="hidden" name="id" value="{$info.id}">
        <input type="submit" value="确定修改">


    </form>
    </div>
    </div>

    </head>

</body>

</html>